
body{
  margin: 0;
  font-family: Candara, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-image: url("../img/bkg-image.png");
  color: #333;
}
.mainheader{
  background-color: #333;
}
a{
  color: #f90;
  text-decoration: none;
}
a:hover{
  color: #f70;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
.row{
  display: flex;
  justify-content: space-between;
}
nav{
  display: flex;
  align-items: center;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav ul li{
  margin-right: 20px;
  border-style: outset;
  border-color: #444;
}
nav ul li:hover{
  margin-right: 20px;
  border-style: inset;
  border-color: #666;
}
section .row{
  justify-content: space-between;
  margin-top: 10px;
}
article{
  flex: 0 0 24%;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255,153,0,0.69);#f70;
}
